<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações de paises</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Where in the world</h1>
    </header>
    <main>
        <div class="divInput">
            <img class="iconSearch" src="../icons/search.svg" alt="">
            <input id="inputCountry" type="text" placeholder="Search for a country...">
        </div>
        
        <select id="select" class="select">
            <option value="All" selected>All Continents</option>
            <option value="africa">Africa</option>
            <option value="america">America</option>
            <option value="asia">Asia</option>
            <option value="europe">Europe</option>
            <option value="oceania">Oceania</option>
        </select>

        <section class="results" id="results">

        </section>
    </main>
    <script src="../js/main.js"></script>
    <script src="../js/events.js"></script>
</body>
</html>